*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand img{
    height: 45px;
    width: 45px;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 5px;
}

.navbar-brand{
    font-family: 'Caveat', cursive;
font-size: 30px;
}

.displayImage{
  background: url("/assets/pic1.jpg");
  height: 100vh;
  background-size:cover;
  color: aliceblue; 
}
.nav-item{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
margin-left: 30px;
}

.navbar-nav{
    margin-left: 64%;
}
.text{
    font-family: 'Urbanist', sans-serif;
 padding-top: 10%;
 font-size: 30px;
}
.text2{
    font-family: 'Urbanist', sans-serif;
    font-size: 19px;
}
.button1{
    margin-left: 40%;
    color: rgb(145, 255, 255);
    background-color: rgba(255, 248, 220, 0.171);
    height: 90px;
    width: 230px;
    transition: .2s all ease-in;
    border: 0px solid;
    font-family: 'Caveat', cursive;
    /* font-size: 40px; */
}
.button1:hover{
    background-color: cornsilk;
    color: rgb(0, 0, 116);
    border: 0px solid;
border-radius: 40px;

}